<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>

<% if @railway_station.routes.empty? %>
    <p>Station is not include in any route</p>
<% else %>
    <p>Station include in routes:</p>
    <ul>
      <% @railway_station.routes.each do |route| %>
        <li><%= route.title %></li>
          <% end %>
    </ul>
<% end %>



<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %>
